.case-study-page-title {
	font-weight: 400;
}

.case-study-page-intro {
	margin-top: 3em;
	max-width: 700px;
}

.case-study-page-screenshots {
	margin-top: 1.5em;
	img {
		margin: 0 5px 0 0;
		max-height: 160px;
	}
	a {
		display: block;
	}
	a:hover {
		text-decoration: none;
	}
	.container {
		height: 180px;
		max-width: 700px;
		overflow-y: hidden;
		overflow-x: scroll;
		white-space: nowrap;
	}
	footer {
		color: #90A4AE;
	}
}

@media (min-width: 600px) {
	.case-study-page-screenshots {
		.container {
			height: 240px;
		}
		img {
			max-height: 220px;
		}
	}
}

.case-study-page-quote {
	border-bottom: 2px solid #9FA8DA;
	border-top: 2px solid #9FA8DA;
	color: #0D47A1;
    font-size: 1.3333em;
    margin: 3em 0;
    padding: 20px 0;
    cite {
    	font-size: 16px;
    }
}

@media (min-width: 600px) {
	.case-study-page-quote {
		max-width: 66.666%;
	}
}

.case-study-footer {
	p {
		margin: 0;
	}
}

.case-study-page-content {
	margin-top: 3em;
	max-width: 700px;
	ul {
		margin: -1em 0 1.25em;
	}
}

.case-study-page-footer {
	margin-top: 3em;
}