.site-footer-home {
	clear: both;
	margin-top: 3em;
}

.home-intro {
	margin-top: 3em;
}

.profile-pic {
	border-radius: 50%;
	float: right;
	margin: 0 20px 20px;
	max-height: 120px;
}

@media (min-width: 600px) {
	.profile-pic {
		max-height: 160px;
	}
}

.profile-links {
	list-style-type: none;
	margin-bottom: 3em;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 1em;
		white-space: nowrap;
	}
}

.case-studies-list {
	margin-bottom: -20px;
	margin-top: 3em;
	max-width: 700px;
	overflow: hidden;
}

.case-study-listing-item {
	display: block;
	float: left;
	margin: 0;
	text-align: center;
	width: 50%;
	h1 {
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
	}
	article {
		margin: 0 20px 20px 0;
	}
	img {
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	}
}

@media (min-width: 420px) {
	.case-study-listing-item {
		width: 40%;
	}
}

@media (min-width: 600px) {
	.case-study-listing-item {
		width: 25%;
	}
}

.mobile-number {
	white-space: nowrap;
}