.site-title {
	font-family: 'Roboto Slab', serif;
	line-height: 1.25;
	font-weight: 400;
	margin: 0;
	span {
		display: block;
		font-size: 0.5em;
		font-weight: 100;
	}
	a {
		text-decoration: none;
	}
}

.case-study-site-title {
	font-size: 1.5em;
	span {
		display: inline;
		font-size: 1em;
	}
}