<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{page.title}} - Peter Chappell Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab:100,400" rel="stylesheet">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <section class="main">
            <header>
                <nav class="site-title case-study-site-title"><a href="/">Pete Chappell <span>Portfolio</span></a></nav>
                <h1 class="case-study-page-title">{{page.title}}</h1>
            </header>
            <footer class="case-study-footer">
                {% if page.web %}
                    <p>Website: <a href="{{page.web}}" class="web">{{page.web}}</a></p>
                {% endif %}
                {% if page.github %}
                    <p>Github: <a href="{{page.github}}" class="github">{{page.github}}</a></p>
                {% endif %}
            </footer>

            <p class="case-study-page-intro">{{ page.intro }}</p>

            {% if page.screenshots %}
            <aside class="case-study-page-screenshots">
                <div class="container">
                {% for image in page.screenshots %}
                    <img src="/images/{{image.src}}" alt="{{image.alt}}" />
                {% endfor %}
                </div>
                <footer>
                    <svg class="icon icon-arrow-left2"><use xlink:href="#icon-arrow-left2"></use></svg>
                    <svg class="icon icon-arrow-right2"><use xlink:href="#icon-arrow-right2"></use></svg>
                    (Scroll or swipe left and right)
                </footer>
            </aside>
            {% endif %}

            {% if page.quote %}
            <blockquote class="case-study-page-quote {{page.quote_style}}">
                <p>{{page.quote}}</p>
                <footer>
                <cite>{{page.quoted_by}}</cite>
                </footer>
            </blockquote>
            {% endif %}

            <div class="case-study-page-content">
            {{ page.content }}
            </div>

            <footer class="case-study-page-footer">
                <nav><a href="/"><svg class="icon icon-arrow-left2"><use xlink:href="#icon-arrow-left2"></use></svg>See more of Pete Chappell's portfolio</a></nav>
            </footer>

        </section>
        
        {% include icons.html %}

    </body>
</html>